<section class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " data-src="<%= image_path('mobile.jpg')%>" style="width: 100%; height: 100%; background-image: url()">
    <div class="content-table">
        <div class="content-middle pt10 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
                                  <h2 class="font300 text-white h1">Homemade Flavors</h2>
                        <p class="lead text-white">
                        </p>
                        <div class="circle-button">
                            <a href="#" class="btn btn-light btn-xl btn-rounded">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero inner-->
    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
  <div class="mouse-down">
    <a data-scroll href="#flavors">
      <i class="fa fa-angle-down fa-3x text-white">
      </i>
    </a>
  </div>
</section>

<div class="container pt50 pb10" id="about">
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto text-center mb20">
            <h3 class="h1"> Check out our homemade ice cream flavors.  Made daily on location</h3>
        </div>
    </div>
</div>
        <!-- products page -->
<div class="container pt50 pb50">
    <div class="row">
        <div class="col-md-6 mb20">
            <em>Showing all 25 Flavors</em>
        </div>
         <div class="col-md-3 ml-auto mb20 text-right">
             <select class="form-control form-control-sm">
                 <option>Seasonal Items</option>
                 <option>Year Round Items</option>
             </select>
        </div>
    </div>
  <!-- start of flavors -->   
    <div class="row">
      <% @flavors.each do |flavor| %>
          <div class="col-md-4 mb40">
              <a class="shop-item-card" href="shop-product-detail.html">
                  <img src="<%= flavor.image %>" alt="" class="img-fluid mb20">
                  <h5 class="font600 h6">
                    <%= flavor.name %>
                      <span class="float-right badge badge-secondary">
                        <%= flavor.availability %>
                      </span>
                  </h5>
                  <p class="lead text-muted"><%= flavor.description %></p>
              </a>
          </div>
      <% end %>
    </div>
</div>  



