<section class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" 
data-responsive-reference-width="1280" 
data-responsive-optimal-height="500"    
style="position: relative; height: 500px;" 
data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " data-src="<%= image_path('flavor2.jpg')%>" style="width: 100%; height: 100%; background-image: url();">
    <div class="content-table">
        <div class="content-middle pt10 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
                                  <h2 class="font400 text-white h1">Homemade Flavors</h2>
                        <p class="lead text-white">
                        </p>
                    </div>
                </div>
            </div>
        </div><!--hero inner-->
    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
  <div class="mouse-down">
    <a data-scroll href="#flavors">
      <i class="fa fa-angle-down fa-3x text-white">
      </i>
    </a>
  </div>
</section>

<div class="container pt50 pb10" id="about">
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto text-center mb20">
            <h3 class="h1"> Check out our homemade ice cream flavors made daily</h3>
        </div>
  </div>
</div>        
        
<div class="col-md-8 mr-auto ml-auto text-center mb20">
      <p class"lead">
      We make small batch homemade premium ice cream right in our shop! Our flavors will rotate based on the fresh ingredients available and based on the season. We will always have a non-dairy option. Below is a list of the flavors we have made to date. <strong> Our flavors rotate frequently.</strong> Come on in and try one of our delicious homemade flavors! 
      </p>
</div>


        <!-- products page -->
<div class="container pt50 pb50">
    <div class="row">
        <div class="col-md-6 mb20">
          <h3>
            <em>Homemade flavors in shop today</em>
          </h3>  
        </div>
<!--          <div class="col-md-3 ml-auto mb20 text-right">
             <select class="form-control form-control-sm">
                 <option>Seasonal Items</option>
                 <option>Year Round Items</option>
             </select>
        </div> -->
    </div>
  <!-- start of flavors -->   
    <div class="row">
      <% @flavors.each do |flavor| %>
          <div class="col-md-4 mb40">
              <a class="shop-item-card">
                  <img src="<%= flavor.image %>" alt="" class="img-fluid mb20">
                  <h5 class="font600 h6">
                    <%= flavor.name %>
                      <span class="float-right badge badge-secondary">
                        <%= flavor.availability %>
                      </span>
                  </h5>
                  <p class="lead text-muted"><%= flavor.description %></p>
              </a>
          </div>
      <% end %>
    </div>
        <div class="row">
        <div class="col-md-6 mb20">
           <h3><em> Seasonal favorites will be back soon</em></h3>
        </div>

    </div>


</div>  



