<div style="text-align: left; padding:20px 23px 20px 23px">
  <span
    style="
            font-family: 'Space Grotesk', 'Lucida Sans', Tahoma, sans-serif !important;
            text-align: justify;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 46px;
            color: #132a37;
            -webkit-text-size-adjust: none;
            display: block;
            text-align: center;
            margin: 25px;
          ">
    Thank You for Your Inquiry!
  </span>
  <div style="margin-top: 25px;">
    <p>
      <span>Dear <strong style="font-style: bold;"><%= @trailer.firstname %> <%= @trailer.lastname %></strong>,</span> <br /><br />
      <span>Thank you for your interest in the B's Ice Cream truck for your event on <%= @trailer.date.strftime('%B %d, %Y') if @trailer.date %>.</span><br /><br />
      <span>We have received your inquiry and will get back to you with further details within the next 24 hours.</span><br /><br />
      
      <div style="background-color: #f7f7f7; padding: 15px; border-radius: 5px;">
        <h3>Your Inquiry Details:</h3>
        <p><strong>Event Date:</strong> <%= @trailer.date.strftime('%B %d, %Y') if @trailer.date %></p>
        <p><strong>Event Start Time:</strong> <%= @trailer.eventstart.strftime('%I:%M %p') if @trailer.eventstart %></p>
        <p><strong>Event Address:</strong> <%= @trailer.address1 %></p>
        <p><strong>City/State/Zip:</strong> <%= @trailer.city %>, <%= @trailer.state %> <%= @trailer.zip %></p>
        <p><strong>Number of Guests:</strong> <%= @trailer.guest %></p>
      </div>
      <br />
     
      <span>Sincerely,</span><br />
      <span>Brooke Costa</span><br />
      <span>B's Ice Cream</span><br />
      <span style="display: flex; margin-top: 30px;">
        <a style="margin-right: 15px;" href="https://www.facebook.com/Bs-Homemade-Ice-Cream-144977852873757" target="_blank">
          <%= image_tag(asset_url('facebook.png'), style: "height: 40px; width: 40px; line-height: 40px; text-align: center;") %>
        </a>
        <a href="https://www.instagram.com/bshomemadeic" style="color: white" target="_blank">
          <%= image_tag(asset_url('instagram.png'), style: "height: 40px; width: 40px; line-height: 40px; text-align: center;") %>
        </a>
      </span>
    
  </div>
</div>
