<% unless @recaptcha_result %>
  <%= turbo_stream.update 'recaptcha-v2' do %>
    <div class="mb-3 row recaptcha-form ml-2 mt-3"
      id='recaptchaV2'
      data-controller='recaptcha-v2'
      data-recaptcha-v2-site-key-value="<%= ENV['RECAPTCHA_SITE_KEY_V2'] %>"
      data-recaptcha-v2-url-value="<%= job_applicants_path %>">
    </div>
  <% end %>
<% end %>
<% if @job_applicant.present? %>
  <%= turbo_stream.update 'job-applicant-form' do %>
    <%= render 'form', job_applicant: @job_applicant %>
  <% end %>
<% end %>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
