<body>
  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
       data-responsive-reference-width="1280" data-responsive-optimal-height="500">
    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('hero2.jpg')%>)">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                <h3 class="h1 text-center font500  pt100 text-black"></h3>
            </div>
        </div>
    </div>
  </div><!--parallax-->
  <!--/.page-title-->
  <%= turbo_frame_tag 'flash-message' %>

  <div class="container contact-form pt100 pb70">
    <%= turbo_frame_tag 'job-applicant-form-wrapper', class: "container contact-form pt100 pb70" do %>
      <div class="text-center">
        <h2>B's is hiring! Let's scoop some ice cream!</h2>
        <p>*****We are only hiring Cake and Pie Decorators at this time****</p>
        <p>
          B's is hiring! We would love to hire a few great people to join our team. 
          We're looking for new hires that can work the fall and winter. 
          We're open every day through the fall and then 5 days a week in the winter. 
        </p>
      </div>

      <%= turbo_frame_tag 'recaptcha-v2' %>

      <%= render 'form', job_applicant: @job_applicant %>
    <% end %>
  </div>
</body>