
<%= form_for(@trailer_lead) do |f| %>

    <% if @trailer_lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trailer_lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

        <ul>
        <% @trailer_lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>







    <hr class="mb40 mt40">
    <div class="leave-comment">
      <h4 class="mb30 font600 h5">EVENT INQUIRY FORM</h4>
        <form class="comment-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :firstname, class: "form-control", required: true, placeholder: "First Name"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :lastname, class: "form-control", required: true, placeholder: "Last Name"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :email, class: "form-control", required: true, placeholder: "Email"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :phone, class: "form-control", required: true, placeholder: "Phone"%>
              </div>
            </div>                  
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.date_field :date, class: "form-control", placeholder: "Event Date", required: true %>
              </div>
            </div>                  
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :eventstart, class: "form-control", required: true, placeholder: "Event Start Time"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :address1, class: "form-control", required: true, placeholder: "Event Address"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.number_field :guest, class: "form-control", required: true, placeholder: "Number of guests"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :city, class: "form-control", required: true, placeholder: "Event City"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :state, class: "form-control", required: true, placeholder: "Event State"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :zip, class: "form-control", required: true, placeholder: "Event Zip"%>
              </div>
            </div> 






              <div class="form-group">
                <%= f.text_field :detail, class: "form-control", required: true, placeholder: "Brief Event Description"%>
              </div>


              <div class="actions mt-2">

                  <%= f.submit "Submit", class: "btn btn-dark", data: { turbo_frame: '_top' } %>

            </div>
          </div>  
        </form>
    </div>
  </hr>

<% end %>
