<%= form_for(@trailer_lead, html: { id: "trailer-inquiry-form", data: { recaptcha_v3_target: "form" } }) do |f| %>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <hr class="mb40 mt40">
    <div class="leave-comment">
      <h4 class="mb30 font600 h5">EVENT INQUIRY FORM</h4>
        <form class="comment-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :firstname, class: "form-control", required: true, placeholder: "First Name"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :lastname, class: "form-control", required: true, placeholder: "Last Name"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :email, class: "form-control", required: true, placeholder: "Email"%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.telephone_field :phone, class: "form-control", required: true, placeholder: "Phone"%>
              </div>
            </div>                  
            <div class="col-sm-6">
              <div class="form-group">
                 <%= f.label :date, 'Event Date' %>
                <%= f.date_field :date, class: "form-control", placeholder: "Event Date", required: true %>
              </div>
            </div>                  
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :eventstart, 'Start Serving Time' %>
                <%= f.time_field :eventstart, class: "form-control", required: true, placeholder: "Event Start Time"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.text_field :address1, class: "form-control", required: true, placeholder: "Event Address"%>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.number_field :guest, class: "form-control", required: true, placeholder: "Number of guests"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :city, class: "form-control", required: true, placeholder: "Event City"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :state, class: "form-control", required: true, placeholder: "Event State"%>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.text_field :zip, class: "form-control", required: true, placeholder: "Event Zip"%>
              </div>
            </div>
            <div class="col-sm-12"> 
              <div class="form-group">
                <%= f.text_field :detail, class: "form-control", required: true, placeholder: "Brief Event Description"%>
              </div>
            </div>

            <%= hidden_field_tag :recaptcha_token, nil, id: "recaptcha-token", data: { recaptcha_v3_target: "token" } %>

            <% if flash[:alert] %>
              <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                  <%= flash[:alert] %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
            <% end %>

            <% if @trailer_lead.errors.any? %>
              <div class="col-sm-12">
                <div class="alert alert-danger mb-4" role="alert">
                  <h5><i class="bi bi-exclamation-triangle-fill"></i> Please correct the following errors:</h5>
                  <ul class="mb-0">
                    <% @trailer_lead.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>

              <div class="actions mt-2">

                  <%= f.submit "Submit", class: "btn btn-dark" %>

            </div>
          </div>  
        </form>
    </div>
  </hr>

<% end %>
