<body>
  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
       data-responsive-reference-width="1280" data-responsive-optimal-height="500">
    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('hero2.jpg')%>)">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                <h3 class="h1 text-center font500  pt100 text-black"></h3>
            </div>
        </div>
    </div>
  </div><!--parallax-->
  <!--/.page-title-->
  <%= turbo_frame_tag 'flash-message' %>

  <div class="container contact-form pt100 pb70">
    <%= turbo_frame_tag 'job-applicant-form-wrapper', class: "container contact-form pt100 pb50" do %>
      <div class="text-center">
        <h1>B's Ice Cream Trailer</h1>

        <%# Start blog format %>
        <div class="container pt90 pb60">
            <div class="row">
                <div class="col-md-12 mb30">
                   
                        
                        <div class="post-thumbnail">
                            <img src='<%= image_path('Trailer_3.jpg')%>' alt="" class="img-fluid">
                        </div>

                    <div class="post-full">
                        <div class="blog-meta">
                            <h2>Standard post title</h2>


                        <div class="post-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Repudiandae possimus quas odio nisi optio asperiores, vitae error laudantium, ratione odit ipsa obcaecati debitis deleniti minus, illo maiores placeat omnis magnam.
                            </p>
                            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.<br><em>John Doe</em></blockquote>
                            <br>
                            <h4>In hac habitasse platea dictumst.</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Repudiandae possimus quas odio nisi optio asperiores, vitae error laudantium, ratione odit ipsa obcaecati debitis deleniti minus, illo maiores placeat omnis magnam.
                            </p>
                            <ul class="list-inline share">
                                <li class="list-inline-item">Share it:</li>
                                <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                            </ul>
                        </div>
                    </div><!--post end-->

                    <hr class="mb40 mt40">
                    <div class="leave-comment">
                        <h4 class="mb30 font600 h5">Leave a comment</h4>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="author" type="text" placeholder="Name" class="form-control">
                                    </div> 
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="email" type="text" placeholder="Email" class="form-control">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Comment" rows="5" class="form-control"></textarea>
                            </div>
                            <div class=" text-right">
                                <button type="button" class="btn btn-dark btn-xl">Post Comment</button>
                            </div>
                        </form>
                    </div>





            </div>
        </div>
        <%# End blog format %>

      </div>
  </div>


      <%= turbo_frame_tag 'recaptcha-v2' %>

      <%= render 'form', job_applicant: @job_applicant %>
    <% end %>

</body>


