<body>
  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
       data-responsive-reference-width="1280" data-responsive-optimal-height="500">
    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('hero2.jpg')%>)">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                <h3 class="h1 text-center font500  pt100 text-black"></h3>
            </div>
        </div>
    </div>  
  </div><!--parallax-->
  <!--/.page-title-->
  <%= turbo_frame_tag 'flash-message' %>

  <div class="container contact-form pt90 pb50">
    <h1 class="text-center">B's Ice Cream Trailer</h1>

    <%# Start blog format %>
    <div class="container pt10 pb10">
      <div class="row">
        <div class="col-md-12 mb30">
          <div class="post-thumbnail text-center">
                  <img src='<%= image_path('Trailer_3.jpg')%>' alt="" class="img-fluid" style="width: 70%">
          </div>
          <div class="post-full">
            <div class="blog-meta">
              <h3>B’s Ice Cream Truck is ready to celebrate at your next event</h3>
              <div class="post-content">
                <p class="h5">
                    Our Ice Cream Truck is perfect for:
                </p>    
                <ul class="list-inline share">
                  <li class="list-inline-item">Weddings</li> 
                  <li class="list-inline-item">Corporate Events</li> 
                  <li class="list-inline-item">Block Parties</li> 
                  <li class="list-inline-item">Appreciation Days</li> 
                  <li class="list-inline-item">Graduations</li>
                  <li class="list-inline-item">Retirement Parties</li> 
                  <li class="list-inline-item">School Events and more!</li>
                </ul> 
                <h4>Ice Cream Truck Options – Private Events</h4><br>
                <h5>Cups & Cones Party</h5>
                <p class="text-muted">Includes up to eight flavors, rainbow and chocolate sprinkles
                70 people required or meet our minimum for service
                </p><br>
                <h5>Sundae Party</h5>
                <p class="text-muted">Up to eight flavors, hot fudge, caramel, marshmallow, whip cream and cherries. 60 people required or meet our minimum for service.</p><br>
                <h5>Make your own Kid Sundae Party</h5>
                <p class="text-muted">Perfect for day care, preschool and Montessori schools 70 people required or meet our minimum for service. One flavor pre-scooped and ready for the little ones to top on their own. Includes, hot fudge, whip cream, cherries, rainbow sprinkles, chocolate sprinkles, gummy worms & bears, caramel sauce and mini M&M’s
                </p><br>
                <p class="text-italic mb5">
                Meals Tax (7%) will be added to all events. Additional Time/Staffing fee may be required to accommodate larger parties or travel. Deposit of 50% is required to secure your event, fully refundable up to 30 days prior to the event date. Final payment and due one week prior to event date.  
                </p><br>
                <p class="h5">
                Would you like us at your festival or fair?
                Please fill out our inquiry form below or email us at 
                <a href="mailto:bsicecreamtruck@gmail.com" class="btn btn-underline text-primary">bsicecreamtruck@gmail.com</a>
                </p>       
                <ul class="list-inline share">
                    <li class="list-inline-item">Share it:</li>
                    <li class="list-inline-item"><a class="btn btn-underline" href="fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                    <li class="list-inline-item"><a class="btn btn-underline" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                </ul>
              </div>
            </div><!--post end-->
          </div>
        </div>
          <%# End blog format %>
      </div>
    </div>
    <%= turbo_frame_tag 'recaptcha-v2' %>
    <%= render 'form', trailer: @trailer_lead %>
    </br>
   </div> 
</body>
