<body>
  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
       data-responsive-reference-width="1280" data-responsive-optimal-height="500">
    <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('hero2.jpg')%>)">
    </div>

    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                <h3 class="h1 text-center font500  pt100 text-black"></h3>
            </div>
        </div>
    </div>  
  </div><!--parallax-->
  <!--/.page-title-->
  <%= turbo_frame_tag 'flash-message' %>

  <div class="container contact-form pt90 pb50">
    <h1 class="text-center"><strong>B's Ice Cream Truck</strong></h1>

    <%# Start blog format %>
    <div class="container pt10 pb10">
      <div class="row">
        <div class="col-md-12 mb30">
          <div class="post-thumbnail text-center">
            <a href="<%= asset_path('trailer_8.jpg') %>" target="_blank" rel="noopener">
                  <img 
                    src='<%= asset_path('trailer_8-800.jpg') %>' 
                    srcset="
                      <%= asset_path('trailer_8-400.jpg') %> 400w,
                      <%= asset_path('trailer_8-800.jpg') %> 800w,
                      <%= asset_path('trailer_8-1200.jpg') %> 1200w
                    "
                    sizes="(max-width: 600px) 400px, (max-width: 900px) 800px, 1200px"
                    alt="Trailer 8" class="img-fluid" style="width: 70%">
            </a>
          </div>
          <div class="post-full">
            <div class="blog-meta">
              <h3 class="text-center">Perfect for your next event</h3>
              <div class="post-content">
                <p class="h5">
                      We service: Weddings, Birthday Parties, Festivals, Coporate Events, Graduations, School Events and more!
                </p>   

                <%# Cups and cones event box         %>
                <div class="bg-white pt90 pb50">
                  <div class="container">
                      <div class="row align-items-center">
                        <div class="col-lg-5 mr-auto ml-auto mb40">
                            <h4 class=" h2 mb40"><strong>Cups & Cones Event</strong></h4>
                            <p class=" text-muted">
                                Includes up to eight different flavors of our homemade ice cream. Hand scooped into cups or sugar cones. Rainbow and chocolate sprinkles are included. 70 people required or meet our minimum fee for service.
                            </p>
                        </div>
                        <div class="col-lg-5 ml-auto mb40">
                          <a href="<%= asset_path('trailer_7.jpg') %>" target="_blank" rel="noopener">
                          <img 
                            src='<%= asset_path('trailer_7-800.jpg') %>' 
                            srcset="
                              <%= asset_path('trailer_7-400.jpg') %> 400w,
                              <%= asset_path('trailer_7-800.jpg') %> 800w,
                              <%= asset_path('trailer_7-1200.jpg') %> 1200w
                            "
                            sizes="(max-width: 600px) 400px, (max-width: 900px) 800px, 1200px"
                            alt="Trailer 7" class="img-fluid" style="width: 100%">
                          </a>
                        </div>
                      </div>
                  </div>
                </div>


                <%# Sundae party box %>
                <div class="bg-white pt50 pb50">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-5 ml-auto mb40">
                              <a href="<%= asset_path('trailer_6.jpg') %>" target="_blank" rel="noopener">
                              <img 
                                src='<%= asset_path('trailer_6-800.jpg') %>' 
                                srcset="
                                  <%= asset_path('trailer_6-400.jpg') %> 400w,
                                  <%= asset_path('trailer_6-800.jpg') %> 800w,
                                  <%= asset_path('trailer_6-1200.jpg') %> 1200w
                                "
                                sizes="(max-width: 600px) 400px, (max-width: 900px) 800px, 1200px"
                                alt="Trailer 6" class="img-fluid" style="width: 100%">
                              </a>
                          </div>
                          <div class="col-lg-5 mr-auto ml-auto mb40">
                              <h4 class=" h2 mb40"><strong>Sundae Party</strong></h4>
                              <p class=" text-muted">
                                  Includes up to eight different flavors of our homemade ice cream, hot fudge, caramel, marshmallow, whip cream and cherries. 60 people required or meet our minimum fee for service.
                              </p>
                          </div>
                      </div>
                  </div>
                </div>


                <%# Kids sundae party box %>
                <div class="bg-white pt50 pb50">
                    <div class="container">
                      <div class="row align-items-center">
                        <div class="col-lg-5 mr-auto ml-auto mb40">
                            <h4 class=" h4 mb40"><strong>Make your own Kid Sundae Party</strong></h4>
                            <p class=" text-muted">
                                Perfect for day care, preschool and Montessori schools.   One flavor pre-scooped and ready for the little ones to top on their own. Includes, hot fudge, whip cream, cherries, rainbow sprinkles, chocolate sprinkles, gummy worms & bears, caramel sauce and mini M&M’s. 70 people required, or meet our minimum fee for service.
                            </p>
                        </div>
                        <div class="col-lg-5 ml-auto mb40">
                            <a href="<%= asset_path('trailer_5.jpg') %>" target="_blank" rel="noopener">
                            <img 
                              src='<%= asset_path('trailer_5-800.jpg') %>' 
                              srcset="
                                <%= asset_path('trailer_5-400.jpg') %> 400w,
                                <%= asset_path('trailer_5-800.jpg') %> 800w,
                                <%= asset_path('trailer_5-1200.jpg') %> 1200w
                              "
                              sizes="(max-width: 600px) 400px, (max-width: 900px) 800px, 1200px"
                              alt="Trailer 5" class="img-fluid" style="width: 100%">
                            </a>
                        </div>
                      </div>
                    </div>
                </div>


                <p class="text-muted mb5">
                Meals Tax (7%) will be added to all events. Additional Time/Staffing fee may be required to accommodate larger parties or travel. Deposit of 50% is required to secure your event, fully refundable up to 30 days prior to the event date. Final payment and due one week prior to event date.  
                </p></br>

                <div class="post-content">
                  <p class="h5">
                Would you like B's Ice Cream at your next event?
                Please fill out our inquiry form below or email us at:
                    <a href="mailto:bsicecreamtruck@gmail.com" class="btn btn-underline text-primary">bsicecreamtruck@gmail.com</a>
                  </p>
                </div>       

           
            </div><!--post end-->
          </div>
        </div>
          <%# End blog format %>
      </div>
    </div>
    <%= turbo_frame_tag "trailer-form" do %>
      <div data-controller="recaptcha-v3"
           data-recaptcha-v3-site-key-value="<%= Rails.application.credentials.recaptcha_site_key_v3 %>"
           data-recaptcha-v3-action-value="trailer_inquiry">
        <!-- The Stimulus controller will handle token generation -->
        <%= render 'form', trailer: @trailer_lead %>
      </div>
    <% end %>
    </br>
   </div> 
</body>
