    <body>
        <!--page title-->
        <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(<%= image_path('retro.jpeg')%>)">
            </div>

            <div class="container pt100 pb70">
                <div class="row pb50">
                    <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                        <h3 class="h1 text-center font300  pt100 text-white">B's Homemade - Blog</h3>
                    </div>
                </div>
            </div>
        </div><!--parallax-->
        <!--/.page-title-->

        <div class="container pt90 pb60">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb30 card-post">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 align-self-center">
                                <a href="blog-single.html"><img class="img-fluid" src="<%= image_path('box/img-4.jpg')%>" alt="..."></a>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title font400">Classic Minimal Template</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                                    <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="card-bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-reply"></i> 7
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-comments"></i> 14
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--post card-->
                    <div class="card mb30 card-post">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 align-self-center">
                                <a href="blog-single.html"><img class="img-fluid" src="<%= image_path('box/img-8.jpg')%>" alt="..."></a>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title font400">Convert angular 4 Bootstrap</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                                    <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="card-bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-reply"></i> 7
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-comments"></i> 14
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--post card-->
                    <div class="card mb30 card-post">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 align-self-center">
                                <a href="blog-single.html"><img class="img-fluid" src="<%= image_path('box/img-7.jpg')%>" alt="..."></a>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title font400">Post title goes here</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                                    <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="card-bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-reply"></i> 7
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-comments"></i> 14
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--post card-->
                    <div class="card mb30 card-post">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 align-self-center">
                                <a href="blog-single.html"><img class="img-fluid" src="<%= image_path('box/img-6.jpg')%>" alt="..."></a>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title font400">Standard blog post</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                                    <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="card-bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-reply"></i> 7
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-comments"></i> 14
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--post card-->
                    <div class="card mb30 card-post">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 align-self-center">
                                <a href="blog-single.html"><img class="img-fluid" src="<%= image_path('box/img-5.jpg')%>" alt="..."></a>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title font400">Another post title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
                                    <a class="font600 btn btn-underline" href="blog-single.html">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="card-bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-reply"></i> 7
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-comments"></i> 14
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--post card-->
                    <nav class="clearfix mt30">                     
                        <a class="btn btn-light float-right" href="#">Older <i class="fa fa-angle-right"></i></a>
                        <a class="btn btn-light disabled"><i class="fa fa-angle-left"></i> Newer</a>
                    </nav>
                </div>
            </div>
        </div>


    </body>
<!-- scaffold -->
<div>
  <!-- <h1>Listing Posts</h1> -->

  <!-- <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%# @posts.each do |post| %>
        <tr>
          <td><%#= post.title %></td>
          <td><%#= post.description %></td>
          <td><%#= link_to 'Show', post %></td>
          <td><%#= link_to 'Edit', edit_post_path(post) %></td>
          <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%# end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Post', new_post_path %> -->
</div>