<body>
  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
data-responsive-reference-width="1000" 
data-responsive-optimal-height="300"
  >
      <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('handout.jpg')%>)">
      </div>

      <div class="container pt100 pb70">
          <div class="row pb50">
              <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                  <h3 class="h1 text-center font300  pt100 text-white">B's Homemade - Blog</h3>
              </div>
          </div>
      </div>
  </div><!--parallax-->
  <!--/.page-title-->

  <div class="container pt90 pb60">
      <div class="row">
          <div class="col-md-12">
              <!-- post card -->
              <% @posts.each do |post| %>
                <div class="card mb30 card-post">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-5 align-self-center">
                            <a href="">
                              <img class="img-fluid" src="<%= post.image %>" alt="...">
                            </a>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="card-body">
                                <h4 class="card-title font400"><%= link_to post.title, post,  style: "color: #212121;" %></h4>
                                <p class="card-text"><%= post.description.truncate(500).html_safe %></p>
                                <a class="font600 btn btn-underline" href="blog-single.html"><%= link_to "READ MORE", post_path(post) %>  <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="card-bottom">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-reply"></i> 7
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-comments"></i> 14
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-share-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--post card-->
              <% end %>
                    <h3 class="h1 text-center font300">
                   <%= link_to_prev_page @posts, "Previous Posts...", style: "color: #212121; " %>
                  </h3>

                    <h3 class="h1 text-center font300">
                   <%= link_to_next_page @posts, "Older Posts...", style: "color: #212121; " %>
                  </h3>



          </div>
      </div>
  </div>
</body>
