  <!--page title-->
  <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
      <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(<%= image_path('retro.jpeg')%>)">
      </div>

      <div class="container pt100 pb70">
          <div class="row pb50">
              <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                  <h3 class="h1 text-center font300  pt100 text-white">B's Homemade - Blog</h3>
              </div>
          </div>
      </div>
  </div><!--parallax-->

  <!-- blog content -->
	<div class="container pt90 pb30">
		<div class="row">
			<div class="col-md-9 mb30">
		  	<div class="post-full">
		    	<div class="blog-meta">
						<h2><%= @post.title %></h2>
							<ul class="list-inline">
									<li class="list-inline-item"><i class="fa fa-user"></i> <a href="mailto:bshomemade@gmail.com" class="btn btn-underline">Brooke Costa</a></li>
									<li class="list-inline-item"><i class="fa fa-calendar-check-o"></i> Submitted <%= time_ago_in_words(@post.created_at) %> a go</li>
			           </ul>
		      </div><!--post meta end-->
         	<div class="post-thumbnail">
              <img src="<%= @post.image %>" alt="" class="img-fluid">
          </div>
          <div class="post-content">
              <p>
                 <%= @post.description.html_safe %>
              </p>
              <ul class="list-inline share">
                  <li class="list-inline-item">Share it:</li>
                  <li class="list-inline-item"><a class="btn btn-underline" href="https://www.facebook.com/sharer/sharer.php?u=<%= yield :url %>" target="_blank" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                  <li class="list-inline-item"><a class="btn btn-underline" href="https://twitter.com/intent/tweet?text=“<%= yield :title %>”&url=<%= yield :url %>&via=twitter" target="_blank" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                  <li class="list-inline-item"><a class="btn btn-underline" href="http://pinterest.com/pin/create/link/?url=<%= yield :url %>&<%= yield :title %>" target="_blank"data-toggle="tooltip" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                  <li class="list-inline-item"><a class="btn btn-underline" href="" target="_blank"data-toggle="tooltip" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
              </ul>
			        
			        <nav class="clearfix pt60">              
			        	<a><%= link_to 'Back to Blog', posts_path, class: "btn btn-light" %></a>
			        	</nav>
              <p>
                 
              </p>
          </div>
		    </div><!--post end-->

	    </div>
	        <!-- aside optional	 -->
	    <div class="col-md-3 pt50">
	      <div class="widget">
	        	<h3>Search blog</h3>
	            <form>
	             <%= form_tag posts_path, :method => 'get' do %>
               <p><%= text_field_tag  :q, params[:q]  %></p>
               <%= submit_tag 'Search', :name => nil  %>
               <% end %>
	            </form>
	      </div>
	    </div>

	  </div>
	</div>
	<!-- blog content end -->


