
<!-- Here image panel -->
<section class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" 
data-responsive-reference-width="1280" 
data-responsive-optimal-height="500"


style="" data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " 
data-src="<%= image_path('flavors-new.jpg')%>" style="width: 100%; height: 100%; background-image: url()">
    <div class="content-table">
        <div class="content-middle pt80 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
                        <h2 class="font500 text-white h1">B's Ice Cream</h2>
                        <p class="lead text-white">
                           Marshfield, MA
                        </p>
                        <div class="circle-button">

                            <a>
                              <%= link_to "Visit Us Today", "/#visit_us", class: 'btn btn-light btn-xl btn-rounded', 'data-turbolinks' => false %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero inner-->
    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
  <div class="mouse-down">
    <a data-scroll href="#about">
      <i class="fa fa-angle-down fa-3x text-white">
      </i>
    </a>
  </div>
</section>

<div class="container pt60 pb20">
  <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
    <a class="btn btn-outline-secondary btn-xl btn-rounded" href="https://bs-ice-cream.square.site"> Order Pints, Quarts, and Ice Cream Pies online</a>
  </div>
</div>

<!-- homemade ice cream panel start -->
<div class="container pt50 pb90">
    <div class='feature-col'>
        <div class='row align-items-center'>

            <div class='col-lg-6 mr-auto'>
                <h2 class="mb40">B's is delivery only until April 6th</h2>
                <div class="tabs-default tabs-icon">
                    <!-- Nav tabs -->

                    <!-- Tab panes -->
                    <div class="tab-content text-left mb40">
                        <div role="tabpanel" class="tab-pane active show fade" id="tb9">
                            <p>
                        We have made the difficult decision to be delivery only.  After much consideration for the safety of our staff, customers, and community we'll be closed until April 6th. We are commited to doing our part in flattening the curve. Thank you for your continued support. <br>
                        <br>
                        <strong>Go to our order now tab to place a delivery. </strong>

                            </p>
                        </div>

                    </div>
                </div>
                <a>

                  <%= link_to "Order Now", "https://bs-ice-cream.square.site",class: 'btn btn-light btn-xl','data-turbolinks' => false %>
                </a>
            </div>
            <div class='col-lg-6 pt50-md'>
                <img src="<%= image_path('delivery.jpg')%>" alt='' class='img-fluid'>
            </div>
        </div>
    </div><!--feature col-->
</div>
<!-- end homemade ice cream panel end-->


<!-- Origin home panel -->
<!-- homemade ice cream panel start -->
<!-- <div class="container pt50 pb90">
    <div class='feature-col'>
        <div class='row align-items-center'>

            <div class='col-lg-5 mr-auto'>
                <h2 class="mb40">Homemade Ice Cream made daily on location</h2>
                <div class="tabs-default tabs-icon"> -->
                    <!-- Nav tabs -->

                    <!-- Tab panes -->
                    <!-- <div class="tab-content text-left mb40">
                        <div role="tabpanel" class="tab-pane active show fade" id="tb9">
                            <p>
                         We serve homemade ice cream, made right in our shop! We provide a selection of classic and seasonal flavors as well as dairy free options. All your favorite treats are available 7 days a week at our scoop shop.  

                            </p>
                        </div>

                    </div>
                </div>
                <a> -->
                  <%#= link_to "Contact Us", "/#visit_us",class: 'btn btn-light btn-xl','data-turbolinks' => false %> 
<!--                 </a>
            </div>
            <div class='col-lg-6 pt50-md'> -->
                <!-- <img src="<%#= image_path('webpic.JPG')%>" alt='' class='img-fluid'> -->
            <!-- </div>
        </div>
    </div> --><!--feature col-->
<!-- </div> -->
<!-- end homemade ice cream panel end-->





<div class="container pt20 pb20">
  <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
    <a class="btn btn-outline-primary btn-xl btn-rounded" href="https://www.facebook.com/bshomemadeic/reviews" style="color: black" target="_blank"><i class="fa fa-facebook"></i> Please review us on Facebook</a>
  </div>
</div>



<!-- whats new panel start -->
<a id="whats_new"></a>
<div class="container pt50 pb50">
    <div class='row'>
        <div class='col-md-12'>
            <div class='feature-col mb90'>
                <div class='row align-items-center'>
                    <div class='col-lg-6'>
                        <img src="<%= @flavor.image %>" alt='' class='img-fluid'></img>                 
                    </div>
                    <div class='col-lg-5 ml-auto pt50-md'>
                        <h2 class="mb20">What's new at B's Ice Cream</h2>
                        <!-- <h2 class='mb20'> -->
                          <!-- Flavor of the week<br> -->
                          <!-- </h2> -->    
                        <p class='lead mb20 text-danger' tyle="font-weight: bold;">
                        <%= @flavor.name %>
                        </hp>
                        <p class='lead mb20'>
                        <%= @flavor.description %>
                        </p>
                        <a>
                          <%= link_to "See all our flavors", flavors_path, class: 'btn btn-light btn-xl', 'data-turbolinks' => false %>
                        </a>
                    </div>
                </div>
            </div><!--feature col-->
        </div>
    </div>
</div>
<!-- whats new panel end-->



<!-- where we are located panel start -->
<a id="visit_us"></a>
<div class="bg-dark pt40 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <h3 class="text-white mb0 h1">
                    Come Visit Us Today
                </h3>
            </div>
        </div>
    </div>
    <!-- contact panel -->
  <div class="container pt90 pb5" id='contact'>
    <div class="row">
        <div class="col-md-4 mb40">
            <div class="media mb20">
                <i class="icon-round-40 mr-3 bg-light fa fa-home"></i>
                <p class="media-body pt5 text-white">
                  <a href="https://goo.gl/maps/QAZGAwyZVtMb2k1z8" target="_blank" class="btn btn-underline text-white" >
                    57 Snow Road,
                    Marshfield, MA
                    02050
                </p>
              </a>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-clock-o"></i>
                <p class="media-body pt5 text-white">
                    Spring Hours<br>
                    <br>
                    Monday........1pm - 8:30pm<br> 
                    Tuesday........1pm - 8:30pm<br>
                    Wednesday..1pm - 8:30pm<br> 
                    Thursday......1pm - 8:30pm<br>
                    Friday............1pm - 9:00pm<br>
                    Saturday.......1pm - 9:00pm<br>
                    Sunday..........1pm - 8:30pm<br>
                    <br>
                    Open Year Round 

                </p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 bg-light float-left mr-3 fa fa-envelope"></i>
                <p class="media-body pt5">
                    <a href="mailto:bshomemadeic@gmail.com" class="btn btn-underline text-white">bshomemadeic@gmail.com</a></p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-phone"></i>
                <p class="media-body pt5">
                    <a href="tel:+17819224062" class="btn btn-underline text-white">Phone: (781) 922-4062</a></p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-credit-card"></i>
                <p class="media-body pt5 text-white">
                   We accept all credit cards
                 </p>
            </div>
        </div>
        <!-- google maps -->
        <div class="col-md-8">
          <section id="map">  
            <div id="google-map" style="width: 100%; height: 400px;"></div>
          </section>
        </div> 
    </div>
    
  </div>
</div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=<%= ENV["google_map_api_key"]%>"></script>