        <!-- header hero image -->
        <div class="dzsparallaxer hero-ladning-1 auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target " style="width: 101%; height: 125%; background-image: url('<%= image_path('hero.png')%>">
            </div>

            <div class="container pt100 pb70">
                <div class="row pb50">
                    <div class="col-md-8 ml-auto mr-auto wow fadeInUp" data-wow-delay=".2s">
                        <h2 class="h1 text-center font300  pt100 text-white">B's Ice Cream</h2>
                        <p class="lead text-white text-muted text-center">Winter Hours Open Wednesday - Sunday 1:00 pm - 8:30 pm </p> 
                        <div class="circle-button text-center">
                          <a>
                            <%= link_to "Visit Us Today", "/#visit_us", class: 'btn btn-light btn-xl btn-rounded', 'data-turbolinks' => false %>
                          </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div><!--header hero image-->
        
        <!-- Features container -->
        <div class='container pt90 pb10'>
          <div class='row'>
              <!-- flavors box -->
              <div class="col-lg-4 mb50">
                <a class="shop-item-card" href="<%= flavors_path %>">
                  <div class="card-image">
                    <img src="<%= image_path('flavors2.jpg')%>" alt="" class="img-fluid"> 
                      <h5>Homemade Ice Cream</h5>
                      <h6>
                      We make our premium small batch ice cream right in our shop on a daily basis. Check out our classic and unique flavors that you won’t find anywhere else!
                      </h6>
                  </div>
                </a>
              </div> <!-- flavors box -->

              <!-- order online box -->
             <div class="col-lg-4 mb50">
               <a class="shop-item-card" href="https://bs-ice-cream.square.site">
                <div class="card-image">
                    <img src="<%= image_path('cookiecake2.jpg')%>" alt="" class="img-fluid">
                    <h5>Online Ordering</h5>
                    <h6>
                      You can order ice cream cups, sundaes, frappes, pints and quarts for same day pickup. Our custom cakes and pies can also be ordered online.
                    </h6>   
                </div>
              </a>
            </div> <!-- end order online box -->

            <!-- flavors box -->
           <div class="col-lg-4 mb50">
             <a class="shop-item-card" href="<%= flavors_path %>">
              <div class="card-image">
                  <img src="<%= @flavor.image %>" alt="" class="img-fluid">
                  <h5>What's new at B's Ice Cream</h5>
                  <h6>
                    <strong><%= @flavor.name %></strong>
                    <%= @flavor.description %>
                  </h6>
              </div>
            </a>
            </div>
          </div>
        </div> <!-- features container -->


          <!-- Mosaic Masonry container -->

        <div class="container pt50 pb50">
            <div class="clearfix">
                <div class="center-title text-center mb50">
                    <h4 class="mb0">B's Specialties</h4>
                    <p>Your favorite ice cream creations</p>
                </div>
                <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                    <div class="cbp-item web-design graphic">
                        <a href="<%= image_path('box/mosaic-m1.png')%>" class="cbp-caption cbp-lightbox" data-title="Ice Cream Cakes">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/mosaic-m1.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Cakes</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print motion">
                        <a href="<%= image_path('box/mosaic-m2.png')%>" class="cbp-caption cbp-lightbox" data-title="Sundaes">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/mosaic-m2.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Sundaes</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print motion">
                        <a href="<%= image_path('box/lgv1a.png')%>" class="cbp-caption cbp-lightbox" data-title="Ice Cream Party Packs">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/lgv1a.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Party Packs</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item motion graphic">
                        <a href="<%= image_path('box/lgh1.png')%>" class="cbp-caption cbp-lightbox" data-title="Cones">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/lgh1.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Cones</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design print">
                        <a href="<%= image_path('box/mosaic.png')%>" class="cbp-caption cbp-lightbox" data-title="Flights">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/mosaic.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Flights</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print motion">
                        <a href="<%= image_path('box/mosaic2.png')%>" class="cbp-caption cbp-lightbox" data-title="Ice Cream Pies">
                            <div class="cbp-caption-defaultWrap">
                                <img src="<%= image_path('box/mosaic2.png')%>" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Pies</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><br>
                <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
                  <a class="btn btn-outline-secondary btn-xl btn-rounded" href="https://bs-ice-cream.square.site"> Order Online Now</a>
                    <a class="btn btn-outline-secondary btn-xl btn-rounded" style="width: 187.6px;" href="https://order.online/store/BsIceCream-991041" target="_blank" >Delivery</a>
                </div> 



                </div>            
              </div>
        </div>

      <div class="container pt50 pb50">
        <div class="no-gutters bg-white split-section">
            <img src="<%= image_path('restaurant/side1.png')%>" alt="" class="img-fluid split-img img-left-align">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 ml-auto pt40 pb40">
                        <h2 class="font400 h1">Thank You Marshfield</h2>
                        <p class="lead">
                            Thank you to everyone who took the time to vote for us! This means so much to a small business especially in our first year.  
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>




<div class="container pt20 pb50">
  <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
    <a class="btn btn-outline-primary btn-xl btn-rounded" href="https://www.facebook.com/bshomemadeic/reviews" style="color: black" target="_blank"><i class="fa fa-facebook"></i> Please review us on Facebook</a>
  </div>
</div>



  <!-- where we are located panel start -->
  <a id="visit_us"></a>
  <div class="bg-dark pt40 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <h3 class="text-white mb0 h1">
                    Come Visit Us Today
                </h3>
            </div>
        </div>
    </div>
    <!-- contact panel -->
    <div class="container pt90 pb5" id='contact'>
    <div class="row">
        <div class="col-md-4 mb40">
            <div class="media mb20">
                <i class="icon-round-40 mr-3 bg-light fa fa-home"></i>
                <p class="media-body pt5 text-white">
                  <a href="https://goo.gl/maps/QAZGAwyZVtMb2k1z8" target="_blank" class="btn btn-underline text-white" >
                    57 Snow Road,
                    Marshfield, MA
                    02050
                </p>
              </a>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-clock-o"></i>
                <p class="media-body pt5 text-white">
                    Current Hours<br>
                    <br>
                    Monday........closed<br>
                    Tuesday........closed<br>
                    Wednesday..1pm  - 8:30pm<br>
                    Thursday......1pm  - 8:30pm<br>
                    Friday............1pm - 8:30pm<br>
                    Saturday.......1pm - 8:30pm<br>
                    Sunday..........1pm - 8:30pm<br>
                    <br>
                    Open Year Round 

                </p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 bg-light float-left mr-3 fa fa-envelope"></i>
                <p class="media-body pt5">
                    <a href="mailto:bshomemadeic@gmail.com" class="btn btn-underline text-white">bshomemadeic@gmail.com</a></p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-phone"></i>
                <p class="media-body pt5">
                    <a href="tel:+17819224062" class="btn btn-underline text-white">Phone: (781) 922-4062</a></p>
            </div>
            <div class="media mb20">
                <i class="icon-round-40 float-left mr-3 bg-light fa fa-credit-card"></i>
                <p class="media-body pt5 text-white">
                   We accept all credit cards
                 </p>
            </div>
        </div>
        <!-- google maps -->
        <div class="col-md-8">
          <section id="map">  
            <div id="google-map" style="width: 100%; height: 400px;"></div>
          </section>
        </div> 
    </div>
    </div>
  </div>


<script>
            //projects
               //cube portfolio init
            (function ($, window, document, undefined) {
                'use strict';

                // init cubeportfolio
                $('#js-grid-mosaic-flat').cubeportfolio({
                    filters: '#js-filters-mosaic-flat',
                    layoutMode: 'mosaic',
                    sortToPreventGaps: true,
                    mediaQueries: [{
                            width: 1500,
                            cols: 6
                        }, {
                            width: 1100,
                            cols: 4
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2,
                            options: {
                                caption: '',
                                gapHorizontal: 15,
                                gapVertical: 15
                            }
                        }],
                    defaultFilter: '*',
                    animationType: 'fadeOutTop',
                    gapHorizontal: 0,
                    gapVertical: 0,
                    gridAdjustment: 'responsive',
                    caption: 'fadeIn',
                    displayType: 'fadeIn',
                    displayTypeSpeed: 100,
                    // lightbox
                    lightboxDelegate: '.cbp-lightbox',
                    lightboxGallery: true,
                    lightboxTitleSrc: 'data-title',
                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
                    plugins: {
                        loadMore: {
                            selector: '#js-loadMore-mosaic-flat',
                            action: 'click',
                            loadItems: 3
                        }
                    }
                });
            })(jQuery, window, document);
</script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=<%= ENV["google_map_api_key"]%>"></script>