<section class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " data-src="<%= image_path('flavors.jpg')%>" style="width: 100%; height: 130%; background-image: url()">
    <div class="content-table">
        <div class="content-middle pt80 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 ml-auto mr-auto text-center">
                        <h2 class="font500 text-white h1">B's Homemade IceCream</h2>
                        <p class="lead text-white">
                            Marshfeild, MA
                        </p>
                        <div class="circle-button">
                            <a href="#" class="btn btn-light btn-xl btn-rounded">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero inner-->
    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
  <div class="mouse-down">
    <a data-scroll href="#about">
      <i class="fa fa-angle-down fa-3x text-white">
      </i>
    </a>
  </div>
</section>

<!-- homemade ice cream panel -->
<div class="container pt90 pb90">
    <div class='feature-col'>
        <div class='row align-items-center'>

            <div class='col-lg-5 mr-auto'>
                <h2 class="mb40">Homemade ice cream made daily on location</h2>
                <div class="tabs-default tabs-icon">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-default mb30 justify-content-start" role="tablist">
                        <li class="nav-item" role="presentation"><a class="active nav-link" href="#tb9" aria-controls="tb9" role="tab" data-toggle="tab">Made</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tb10" aria-controls="tb10" role="tab" data-toggle="tab">With</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tb11" aria-controls="tb11" role="tab" data-toggle="tab">Love</a></li>                       
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content text-left mb40">
                        <div role="tabpanel" class="tab-pane active show fade" id="tb9">
                            <p>
                                Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 

                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tb10">
                            <p>
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 

                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tb11">
                            <p class='lead'>
                                Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
                            </p>
                        </div>
                    </div>
                </div>
                <a href='#' class='btn btn-light btn-xl'>Hire Us</a>
            </div>
            <div class='col-lg-6 pt50-md'>
                <img src="<%= image_path('icmaker.jpg')%>" alt='' class='img-fluid'>
            </div>
        </div>
    </div><!--feature col-->
</div>
<!-- end homemade ice cream panel -->

<!-- whats new panel -->
<div class="container pt90 pb90">
    <div class='row'>
        <div class='col-md-12'>
            <div class='feature-col mb90'>
                <div class='row align-items-center'>
                    <div class='col-lg-6'>
                        <img src="<%= image_path('spoon.jpg')%>" alt='' class='img-fluid'>
                    </div>
                    <div class='col-lg-5 ml-auto pt50-md'>
                        <h3 class="mb20">What's new at B's Homemade</h3>
                        <p class='lead mb20'>
                        Flavor of the week
                        </p>
                        <p class='lead mb20'>
                        Yellowstone coffee ripoff
                        </p>
                        <p class='lead mb20'>
                        Banana ice cream, banana chunks cooked in brown sugar, butter, cinnamon and dark rum!
                        </p>
                        <a href='#' class='btn btn-light btn-xl'>See all our flavors</a>
                    </div>
                </div>
            </div><!--feature col-->
        </div>
    </div>
</div><hr>
<!-- whats new panel -->

<!-- where we are located panel -->
<div class="bg-dark pt90 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <h3 class="text-white mb0 h1">
                    Come Visit Us Today
                </h3>
<!--                 <a href="#" class="btn btn-light btn-lg btn-rounded">Get Directions</a> -->
            </div>
        </div>
    </div>


<!-- contact panel -->
<div class="container pt90 pb50" id='contact'>
  <div class="row">
      <div class="col-md-4 mb40">
          <div class="media mb20">
              <i class="icon-round-40 mr-3 bg-light fa fa-home"></i>
              <p class="media-body pt5 text-white">
                  44 Snow Road, Marshfield MA 02050
              </p>
          </div>
          <div class="media mb20">
              <i class="icon-round-40 float-left mr-3 bg-light fa fa-clock-o"></i>
              <p class="media-body pt5 text-white">
                  Monday-Friday: 12pm to 8pm<br>
                  Saturday: 11am to 10pm<br>
                  Sunday: 11am to 10pm</p>
          </div>
          <div class="media mb20">
              <i class="icon-round-40 bg-light float-left mr-3 fa fa-envelope"></i>
              <p class="media-body pt5">
                  <a href="#" class="btn btn-underline text-white">bshomemade@gmail.com</a></p>
          </div>
          <div class="media mb20">
              <i class="icon-round-40 float-left mr-3 bg-light fa fa-phone"></i>
              <p class="media-body pt5">
                  <a href="#" class="btn btn-underline text-white">888-234-3949</a></p>
          </div>
      </div>
      <div class="col-md-8">
        <section id="map">  
          <div id="google-map" style="width: 100%; height: 400px;"></div>
        </section>


      </div> 
  </div>
</div>
<!-- contact panel end-->


</div>

<!-- testimonials panel  -->
<div class=" bg-faded pb80 pt80">
    <div class="container">
        <div class="center-title mb50 text-center">
            <h4>What our customers say</h4>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="owl-carousel owl-theme owl-testimonials-full">
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                " This ice cream is the shit "
                            </p>
                            <div class="clearfix testimonial-author">
                                <img src="<%= image_path('team-1.jpg')%>" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                <h5 class="font400 h6 mb0 pt5">Ben not Jerry</h5>
                                <small>Ice Cream Expert</small>
                            </div>
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                " Way better then ours "

                            </p>
                            <div class="clearfix testimonial-author">
                                <img src="<%= image_path('team-1.jpg')%>" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                <h5 class="font400 h6 mb0 pt5">Jerry not Ben</h5>
                                <small>Entrepenuer</small>
                            </div>
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                " Best Ice Cream in Massachusetts "

                            </p>
                            <div class="clearfix testimonial-author">
                                <img src="<%= image_path('team-1.jpg')%>" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                <h5 class="font400 h6 mb0 pt5">Tom Brady</h5>
                                <small>GOAT</small>
                            </div>
                        </div>
                    </div><!--/item-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonials panel -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= ENV["google_map_api_key"]%>"></script>