<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
	>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<%= favicon_link_tag 'favicon.png' %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129290811-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-129290811-1');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({
	          google_ad_client: "ca-pub-5519376602594387",
	          enable_page_level_ads: true
	     });
	</script>
	<%= display_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application', "data-turbo-track": "reload", defer: true %>
</head>
<body>
	<!-- nabar -->
	<nav class="navbar navbar-expand-lg navbar-light navbar-transparent navbar-sticky">

	      <!-- logo icon header -->
	      <%= link_to root_path do %>
	      <img src="<%= image_path('webfontdark.svg')%>" alt="" class="logo-visible-desktop logo-default" style="width: 100 px; Height: 50px; text-align: left;">
		    <img src="<%= image_path('webfontdark.svg')%>" alt="" class="logo-hidden-desktop logo-scroll" style="width: 100 px; Height: 50px; text-align: left;">
				<% end %>
	      

	      <!-- navbar toggle -->
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      	<span class="navbar-toggler-icon"></span>
	      </button>


	      <!-- navbar menu -->
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav  ml-auto">
	                  <!-- homepage link -->
	                  <li class="nav-item">
		                  <a>
		                  	<%= link_to "Home", bees_path, class: 'nav-link', 'data-turbo' => false , style:'font-size: .85rem important!;'%>
		                  </a>
		                </li>
	                 	<!-- info link -->
	                 	<li class="nav-item">
		                  <a>
		                  	<%= link_to "Info", "/#visit_us",class: 'nav-link','data-turbo' => false %> 
		                  </a>
		                </li>
		                <!-- flavors link -->
		                <li class="nav-item">
		                  <a>
		                  	<%= link_to "Flavors", flavors_path, class: 'nav-link', 'data-turbo' => false %> 
		                  </a>
		                </li>
		                <!-- order now link -->
										<li class="nav-item">
		                	<a>
		                  	<%= link_to "Order Now", "https://bs-ice-cream.square.site", class: 'nav-link', 'data-turbo' => false %> 
		                  </a>
		                </li>		                
		                <!-- blog link		                 -->
		                <li class="nav-item">
		                	<a>
		                  	<%= link_to "B's Updates", posts_path, class: 'nav-link', 'data-turbo' => false %> 
		                  </a>
		                </li>
		                <!-- gift cards link -->
<!-- 		            <li class="nav-item">
		                	<a>
		                  	<%#= link_to "Gift Cards", cards_path, class: 'nav-link', 'data-turbolinks' => false %> 
		                  </a>
		                </li>		 -->                
										<!-- events link -->
										<!-- <li class="nav-item"> -->
		                	<!-- <a> -->
		                  	<%#= link_to "Events", event_path, class: 'nav-link', 'data-turbolinks' => false %> 
		                  <!-- </a> -->
		                <!-- </li>			                     -->
										<!-- merch link -->
										<!-- <li class="nav-item"> -->
		                	<!-- <a> -->
		                  	<%#= link_to "Merch", merch_path, class: 'nav-link', 'data-turbolinks' => false %> 
		                  	<!-- </a> -->
                		<!-- </li>	 -->
		                <!-- about us link -->
		                <!-- <li class="nav-item"> -->
		                	<!-- <a> -->
		                  	<%#= link_to "About", about_path, class: 'nav-link', 'data-turbolinks' => false %> 
		                  <!-- </a> -->
		                <!-- </li>		 -->
	          </ul>
	      </div>
	      
				<!-- right nav bar social icons-->
				<div class="navbar-right-col">
				<div class="container">
					<div class="row">
						<ul class="social list-inline mb30">
						    <li class="list-inline-item"><a class="facebook" href="https://www.facebook.com/Bs-Homemade-Ice-Cream-144977852873757" target="_blank"><i class="fa fa-facebook-f" style="color: white"></i></a></li>
						    <li class="list-inline-item"><a class="instagram" href="https://www.instagram.com/bshomemadeic" style="color: white" target="_blank"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>  
				</div>
	</nav>	

	<%= yield %>
  <!-- footer -->

  <footer class="footer">
      <div class="container">


          <div class="row">
          	<!-- what we do column -->
              <div class="col-md-6 col-lg-3">
                  <h4>B's Homemade</h4>
                  <p>
                      We make a variety of flavors on location daily.  Come visit us to experience the best homemade ice cream on the south shore. 
                  </p>
              </div><!--/.column-->
              <!-- contact us column -->
              <div class="col-md-6 col-lg-3">
                  <h4>Contact Us</h4>
                  <ul class="list-unstyled">
                      <li><a href="mailto:bshomemadeic@gmail.com" class="btn btn-underline">Email: bshomemadeic@gmail.com</a></li>
                      <li><a href="https://goo.gl/maps/QAZGAwyZVtMb2k1z8" target="_blank" class="btn btn-underline">Marshfield Store</a></li>
                      <li><a href="https://goo.gl/maps/QAZGAwyZVtMb2k1z8" target="_blank" class="btn btn-underline">57 Snow Road, Marshfield MA 02050</a></li>
                      <li><a href="tel:+17819224062" class="btn btn-underline">Phone: (781) 922-4062</a></li>
                      <br>
                      <li><a href="https://www.google.com/maps/place/B's+Ice+Cream/@42.0909174,-70.7075944,19z/data=!4m6!3m5!1s0x89e4a750eef4efb3:0x77b1c465bf52863a!8m2!3d42.090978!4d-70.7070689!16s%2Fg%2F11h4cgwjgz" target="_blank" class="btn btn-underline">Kingston Store</a></li>
                      <li><a href="https://www.google.com/maps/place/B's+Ice+Cream/@42.0909174,-70.7075944,19z/data=!4m6!3m5!1s0x89e4a750eef4efb3:0x77b1c465bf52863a!8m2!3d42.090978!4d-70.7070689!16s%2Fg%2F11h4cgwjgz" target="_blank" class="btn btn-underline">164 Summer St, Kingston MA 02364</a></li>
                      <li><a href="tel:+17813617084" class="btn btn-underline">Phone: (781) 361-7084</a></li>

                      
                  </ul>

              </div><!--/.column-->
              <div class="col-md-6 col-lg-3">
                  <h4>Links</h4>
                  <ul class="list-unstyled">
                      <li>
                      	<a>
		                  		<%= link_to "Info", "/#visit_us",class: 'btn btn-underline','data-turbo' => false %> 
		                  	</a>
		                	</li>
		                	<li>
                      	<a>
		                  		<%= link_to "Flavors", flavors_path, class: 'btn btn-underline','data-turbo' => false %> 
		                  	</a>
		                	</li>
		                	<li>
                      	<a>
		                  		<%= link_to "What's New", "/#whats_new", class: 'btn btn-underline','data-turbo' => false %> 
		                  	</a>
		                	</li>		                	
		                	<li>
                      	<a>
		                  		<%= link_to "Blog", posts_path, class: 'btn btn-underline','data-turbo' => false %> 
		                  	</a>
		                	</li>
		                	<li>
                      	<a>
		                  		<%= link_to "About Us", about_path, class: 'btn btn-underline','data-turbo' => false %> 
		                  	</a>
		                	</li>		                	
                  </ul>
              </div><!--/.column-->
              <!-- right column -->
              <div class="col-md-6 col-lg-3">
                  <h4>Connect with Us</h4>
                  <div class="mb30">
                      <form>
                      	
                          <div class="form-group">
                          <%#= form_for @lead do |f| %>
                              <label for="subscribe">Check us out on social media</label>

                              <%#= f.email_field :email, placeholder: "  Email", class: "form-control"%>
                              <br>
                              <%#= f.submit "Join Newsletter", class: 'btn btn-outline-secondary btn-sm' %>
                          </div>
                          <%# end %>
                      </form>
                  </div>
						        <ul class="social list-inline mb30">
						            <li class="list-inline-item"><a class="facebook" href="https://www.facebook.com/Bs-Homemade-Ice-Cream-144977852873757" target="_blank"><i class="fa fa-facebook-f" style="color: white"></i></a></li>
						            <li class="list-inline-item"><a class="instagram" href="https://www.instagram.com/bshomemadeic" style="color: white" target="_blank"><i class="fa fa-instagram"></i></a></li>
						        </ul>
                  <span class="font400">&copy; B's Homemade LLC 2018</span>
              </div><!--/.column-->
          </div><!--/.row-->
      </div><!--/.container-->
  </footer>
<script id="dsq-count-scr" src="//bs-ice-cream.disqus.com/count.js" async></script>
</body>
</html>